# Arquivos de sistema
.DS_Store

# Módulos e dependências
node_modules/
package-lock.json
npm-debug.log

# Ambientes específicos
.env

# Arquivos de build
dist/
build/

# Arquivos gerados durante a execução
log/
logs/
*.log
npm-debug.log*

# Arquivos de configuração
*.iml
.idea/

# Arquivo específico a ser ignorado
upload.js
main.js